/target
.venv/
target/
tests/
.pytest_cache/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Build & Virtual environments
dist/
build/
*.egg-info/

# Testing & Cache
.pytest_cache/

benchmarks/
dataset/
docs/
testing/